body{
  background-image: url(Car66.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 50px
}
h1{
  color: green;
}
p{
  color: yellow;
  font-family: monospace;
  font-size: 30px;
}
img{
  height: 200px;
  width: 500px;
}
ol{
  color: yellow;
  font-size: 30px;
  font-family: monospace;
}
a{
  color: cyan;
}
h2{
  color: lightblue;
}
h3{
  color: white;
}
ul{
  color: red;
}
img{

}
.facebook{
  width: 20px;
  height: 20px;
}
.ig{
  width: 20px;
  height: 20px;
}
.gp{
  width: 20px;
  height: 20px;
}
.em{
  width: 20px;
  height: 20px;
}
